[2016-11-07 23:15] wanderer opened #1 "replace node-devp2p?"
The original node-devp2p is out-of-data. Should we just depreciate it and use this instead? Also would you be would it be ok to move this to ethereumjs?

[2016-11-08 09:14] fanatid commented on #1
Moved.

[2016-11-08 09:14] #1 closed

[2017-04-26 21:18] ya7ya opened #3 "Where is ./lib Folder?"
@fanatid
When installing via `npm` I get a lib folder but I can't seem to find it in this repo, so is this the main version or Am I missing something here ?

`package.json` snippet
[code]

[2017-04-26 21:35] ya7ya commented on #3
@fanatid Sorry I didn't notice the babel build. ma bad.

[2017-04-26 21:35] #3 closed

[2017-05-16 20:07] ya7ya opened #5 "RLPX Question: Shouldn't peer be removed from this._peers once it closes ?"
hey @fanatid , regarding [RLPX peer](https://github.com/ethereumjs/ethereumjs-devp2p/blob/master/es/rlpx/index.js#L175) close event, Shouldn't the peer be removed form the `this._peers` Map once the event is triggered ? not removing the peer means `this._getOpenSlots()` will return actual open slots + the peer that just closed.

the fix is simple
[code]

Thanks for your help, I appreciate it. 👍

[2017-05-16 20:17] fanatid commented on #5
`peer` is removed in socket close event: https://github.com/ethereumjs/ethereumjs-devp2p/blob/f066af06b6d09a5a4459a6a2894e68c88c349ffe/es/rlpx/index.js#L92
but, we also should remove in peer close event, because socket close not remove incoming peers
do you want make PR?

[2017-05-16 20:21] ya7ya commented on #5
Yeah , I'm up for it. I'll submit a PR

[2017-05-16 20:41] #5 closed

[2017-09-21 07:23] jtakalai opened #7 "Node version?"
Could you mention in README.md or elsewhere in docs which node version you expect? Async is used in code, introduced in 7.6; https://nodejs.org/en/ says newest features are in 8.6, recommended stable is 6.11.3 LTS. Which version are you using? Which one would you recommend?

[2017-09-21 07:28] fanatid commented on #7
published version transplited with babel, should work with 6.x
at least on node 6.5.0 works fine

[2017-11-07 16:42] holgerd77 opened #8 "Rename es folder to lib"
Hi @fanatid, are there any reasons the main library folder is called ``es`` here or can I rename this to ``lib``?

[2017-11-07 16:50] holgerd77 commented on #8
Ah ok, thanks!

I would go through this library and make some updates here and there (docs, dependencies, dead links, what I will find) to reactivate the library a bit, is this ok?

[2017-11-07 16:50] holgerd77 commented on #8
(as a PR of course)

[2017-11-07 17:03] holgerd77 commented on #8
We wanted to experiment with this a bit in ``ethereumjs-vm`` context, brainstormed a bit if it makes sense to develop towards a JS light client structure in the future, nothing decided yet though.

And I generally think it makes sense/can't hurt anyway to have a working/usable ``devp2p`` JS implementation. :-)

[2017-11-07 17:03] #8 closed

[2017-11-09 14:13] fanatid commented on #7
package.json now contains engines field, which require node >= 6
https://github.com/ethereumjs/ethereumjs-devp2p/pull/9

[2017-11-09 14:13] #7 closed

[2017-11-16 09:49] holgerd77 opened #11 "EIP 8 Compliance"
[EIP 8](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-8.md) compliance for this library is needed in order to being usable again. At the moment, ``EIP 8`` (forwards compatibility) changes aren't implemented, and the library can't build up connection to more or less any up-to-date node.

This behavior can be observed by e.g. running the ``peer-communication`` example.

There are three parts

[2017-11-16 09:57] holgerd77 commented on #11
Ah, just saw on a second look, the unit tests don't do that much testing though.

[2017-11-16 13:26] fanatid commented on #11
Sorry do not know nothing about EIP8 compliance.

[2017-11-16 13:40] holgerd77 commented on #11
Ok, thanks.

[2017-11-16 14:30] holgerd77 opened #12 "Most peer connections get closed shortly after connection"
Many peer connections directly close again after getting a connection, this can be tested by e.g. running the ``peer-communication`` example with:

[code]

Most of the connections are closed with reason code``16`` (see [DISCONNECT_REASONS](https://github.com/ethereumjs/ethereumjs-devp2p/blob/master/src/rlpx/peer.js#L84), which is disconnect reason ``SUBPROTOCOL_ERROR``.

This issue was initially t

[2017-11-21 10:54] holgerd77 commented on #11
Copied chat extract from ``ethereum/devp2p`` channel for reference:

My Message:

Hi @fjl, I'm trying to have a look at ``EIP-8`` for the ``ethereumjs-devp2p`` implementation, concretely the [Changes to the RLPx TCP handshake](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-8.md#changes-to-the-rlpx-tcp-handshake) part.

I'm a bit stuck at the implementation of:

[code]

And especially this `

[2017-11-21 10:56] holgerd77 commented on #11
Another Gitter ``ethereum/devp2p`` reference:

My question:

Hi, I'm trying to bring a package starting e.g. with ``<Buffer 04 10 55 0b 30 c3`` together with the following formula from ``EIP-8``:

[code]

As size I would take the two hex values after the initial ``0x04`` buffer value, so ``10 55``, which would be 4181 as decimal, so ``size = 4181``.

I would then additionally read (cause of ``+=``

[2017-12-15 12:54] #11 closed

[2017-12-15 13:06] holgerd77 opened #17 "No Parity client connections possible"
Currently the library is not connecting to any Parity nodes.

This can be tested by trying to connect to one of the bootnodes from the Parity [foundation.json](https://github.com/paritytech/parity/blob/bbe9d73e9ab69be4f49e216e344a41ee97f0ac1f/ethcore/res/ethereum/foundation.json#L175) configuration file.

This is due to the `pong` msg on node discovery (see `dpt/server.js`) from a Parity client is

[2017-12-15 13:13] holgerd77 opened #18 "Update bootstrap nodes, add LES nodes"
Add LES bootnodes from [py-evm](https://github.com/ethereum/py-evm/blob/dc1a25fc248ea23b273746f1be7295870ab93d5d/evm/p2p/lightchain.py#L146) to the `ethereumjs/common` bootnode list for easier implementation/connection to LES clients.

[2017-12-15 13:26] holgerd77 opened #19 "Node discovery v5"
### Introduction

Node discovery v5 is on it's way, which should make it a lot easier to discover suitable nodes. Though not standardized yet, ~it would be good to have some early experimentation/draft implementation to get closer to a feeling how the protocol (could) behave~ it would be good to have this library updated with a working implementation to support the practical usage in terms of a li

[2017-12-15 13:37] holgerd77 opened #20 "LES/2 Protocol Implementation"
Currently as upper-layer communication protocols the Ethereum Wire Protocols `V62` and `V63` are supported (see `eth/index.js`). For a possible future light client roadmap the implementation of the [LES](https://github.com/ethereum/wiki/wiki/Light-client-protocol) protocol would be needed.

The following reference implementations for orientation are available:
- [pyEVM](https://github.com/ethereum

[2017-12-18 00:26] Silur commented on #19
I guess I'll just claim this then

[2017-12-18 00:50] holgerd77 commented on #19
Cool. :-)

[2018-01-30 03:46] ShifaSZ opened #22 "Could you please add more guides for the Run/Build in the Readme.MD?"
To make command "npm run build" work, I have to run "npm install --save-dev babel-cli" to solve the error in the "babel src -d lib" command, and have to run "npm install babel-plugin-transform-class-properties --save" to solve the error of 'ReferenceError: Unknown plugin "transform-class-properties" specified in .babelrc at 0'. It costed me hours searching online to solve these issues.
It will be

[2018-01-30 08:09] fanatid commented on #22
This packages already in package.json:

babel-cli: https://github.com/ethereumjs/ethereumjs-devp2p/blob/7c6272cd76e11e35cc7e00c8a8dcfff28cf7d4e6/package.json#L60
transform-class-properties: https://github.com/ethereumjs/ethereumjs-devp2p/blob/7c6272cd76e11e35cc7e00c8a8dcfff28cf7d4e6/package.json#L62

[2018-01-30 08:37] jwasinger commented on #22
Also make sure you are using a newer version of NodeJS.  Using 9.4.0, I had no issues whatsoever.

[2018-01-30 09:30] holgerd77 commented on #22
The questions/problems you have are touching more the general way on how Node is installing libraries, have a look e.g. at https://stackoverflow.com/questions/34700610/npm-install-wont-install-devdependencies for a deeper understanding of that.

To document this here would be out of the scope of this library.

[2018-01-30 09:30] #22 closed

[2018-01-30 14:36] ShifaSZ commented on #22
Thanks you all. I should get all the dependencies installed.

[2018-02-03 23:48] axic opened #23 "Support coveralls for code coverage reporting"

[2018-02-09 08:43] #23 closed

[2018-02-27 21:06] tcsiwula commented on #12
What is the bug? I am getting the same haha

[2018-02-28 08:29] holgerd77 commented on #17
Some more context:

Specification: https://github.com/ethereum/devp2p/blob/master/rlpx.md#node-discovery

Paritiy implementation / hash generation: https://github.com/paritytech/parity/blob/e95b09348386d01b71901365785c5fa3aa2f7a6d/util/network/src/discovery.rs#L405

[2018-02-28 08:32] holgerd77 commented on #12
@tcsiwula Great debugging help! 😄

[2018-03-02 09:59] #17 closed

[2018-03-07 09:19] holgerd77 commented on #19
For reference: https://github.com/ethereum/go-ethereum/issues/2117#issuecomment-370559812
("p2p/discover: from address in ping is IPv6 unspecified in some cases")

[2018-03-19 11:20] holgerd77 opened #37 "Docs Auto-Generation / Integrate API docs from old repos"
The documentation from the old ``node-devp2p-*`` repositories didn't completely make it into the new repository.

The following docs should be checked and missing information / API description should be added to this repo:

- https://github.com/ethereumjs/node-devp2p-rlpx/tree/c246fb0cd7e64025e29d1de06feb8c4cd20dbefb
- https://github.com/ethereumjs/node-devp2p-dpt/blob/1768d764ef6948f62d1d3b5f0fc8

[2018-03-19 11:33] holgerd77 opened #38 "Analyze content handling logic from old node-devp2p-eth library"
There exists some more in-depth content handling logic in the old ``node-devp2p-eth``, e.g. for parsing/sending blocks or transactions:
https://github.com/ethereumjs/node-devp2p-eth/blob/4210cad19f416d22deec6f0d9beb0f0cf8c27724/index.js

It should be analyzed if this logic should be ported over to the new integrated library.

[2018-03-21 21:46] #20 closed

[2018-03-26 12:32] holgerd77 commented on #19
Py-EVM implementation [in progress]: https://github.com/gsalgado/py-evm/commit/f31fbfcd654753789454863f4fb4e2c991e7af2c

[2018-04-11 07:45] holgerd77 opened #40 "Loglevel support / Logger adoption for client"
This library currently uses the ``debug`` library for logging output. The output can be activated by setting the ``DEBUG`` environment variable, see [#debugging](https://github.com/ethereumjs/ethereumjs-devp2p#debugging). The output can be filtered by topics/loggers, but there is no support for logging verbosity setting (log levels).

This is needed though for integration in an ``ethereumjs-client

[2018-04-12 08:24] holgerd77 opened #41 "Catch annoying timeout error for bootstrap nodes on startup"
When starting the example, there are always errors like:

[code]
for unavailable bootstrap nodes. These should be caught and replaced with a proper logging output msg instead.

[2018-04-18 11:02] holgerd77 commented on #19
@Silur Are you still open/do you have time to work on this one? Otherwise I would put this back in "help wanted", with the current comments people interested will think this is already being worked on.

[2018-05-20 18:33] rauljordan commented on #19
Hey @holgerd77 interested in this, as we are currently exploring p2p in my team, Prysmatic Labs. Can you elaborate more on the requirements needed to get the bounty accepted? What would an acceptable PR look like? Any specific features you have in mind to close this?

[2018-05-20 18:49] alexanderbez commented on #19
Interested in helping out with this as well.

[2018-05-21 00:54] abitrolly commented on #19
Is there an abstract describing current situation and the problem with discovery?

[2018-05-21 19:45] holgerd77 commented on #19
I'll update the issue tomorrow with a more specific work description and requirements for a bounty to be accepted.

[2018-05-22 12:22] holgerd77 commented on #19
Hi everyone, I updated the work specification, this should now hopefully accurately enough describe what is expected here, if you still have questions let me know. This might sound a bit tighter then before (didn't realize that I had this "experimental implementation" in the introduction of the issue description, I replaced this pointing to an actual working implementation).

Please re-read, take

[2018-05-22 15:29] vs77bb commented on #19
Hi all, Vivek from Gitcoin here. It looks like @brianherman was first to 'Start Work' here on Gitcoin and thus has precedence to give this a go + @alexanderbez has offered his help as well.

We'd encourage a collaborative effort here if it makes sense, as in line with open source ethos 😄perhaps @brianherman gives it a go and comes back around for feedback as needed?

@rauljordan good to see you he

[2018-05-23 07:56] holgerd77 commented on #19
@brianheram Hi Brian, does this still fit your expectations after the updated spec description and do you want to start on this? If you have any questions let me know!

[2018-05-23 19:56] vs77bb commented on #19
@brianherman see above^ 🙂

[2018-05-29 20:56] vs77bb commented on #19
Hi @abitrolly @alexanderbez @rauljordan are any of you interested in taking on this bounty? @holgerd77 and I have discussed and increased the contribution to 2ETH (blockchain syncing now).

[2018-05-29 21:13] alexanderbez commented on #19
I'm certainly happy to help on this. Seems there are three major topics: packets, node records, and topics. Perhaps we could come up with a plan/design and tackle these in parallel?

[2018-05-29 21:45] rauljordan commented on #19
I agree that we should split this up, otherwise it would be a bunch of mega PRs. I am not as experienced on devp2p, but I'm willing to learn more and help on parts of this. Perhaps someone can come up with a proposal that can be split up into several smaller PRs/Issues?

*Raul E. Jordan, Harvard University | Ethereum Protocol Developer*

r auljordan.com
( http://rauljordan.com )
Twitter: @raulitoj

[2018-05-30 08:50] holgerd77 commented on #19
@alexanderbez @rauljordan Cool guys, that sounds great!

[2018-06-01 19:55] jvmaia commented on #19
Hey i'm interested in help in this issue, i'm not experienced in devp2p but i want to learn more about.

[2018-06-11 21:54] vs77bb commented on #19
Hi @jvmaia @rauljordan @alexanderbez I wanted to follow up as the bounty funder; is there anything I can do to help coordinate? We're happy to add to the bounty as it looks like it may become a collaborative effort.

[2018-06-12 01:02] abitrolly commented on #19
The bounty is good, but I won't have the time to research current p2p protocols and their weaknesses.

[2018-06-17 16:09] tcsiwula commented on #19
@holgerd77 @vs77bb @gitcoinbot can we get an extension on this? I could get it done by next week, pretty familiar with this code base -- somewhat.

[2018-06-18 13:35] holgerd77 commented on #19
Hi @tcsiwula, so great, happy that you want to help out, let me know if you need any assistance!

As @vs77b already stated above bounty can be paid out even after expiration:

"As an FYI, we understand the expiry date is near on Gitcoin, but will be able to pay this out upon completion, even if it takes beyond the expiration."

[2018-06-18 21:55] vs77bb commented on #19
@holgerd77 @tcsiwula Seconding Holger, this can be paid post expiration!

[2018-06-18 22:11] jwasinger commented on #12
Snippet from the logs:
[code]

It looks like most of these `SUBPROTOCOL_ERROR` disconnects are for clients with different network Ids.

[2018-06-19 09:38] holgerd77 commented on #12
This has generally gotten a lot better with the latest updates. I think this issue is now too generic and can be closed, remaining problems should rather be solved on a more differentiated case-by-case basis.

[2018-06-19 09:38] #12 closed

[2018-06-19 18:34] tcsiwula commented on #19
Awesome sounds good @holgerd77 @vs77bb :D ping you an update on my progress this weekend (or if I have any questions between then)!

[2018-06-26 09:41] holgerd77 commented on #19
Hi Tim @tcsiwula, don't want to pressure or something just would like to be a bit aware of the status. Have you been able to do some work on this over the weekend? Any questions?

[2018-06-26 09:55] tcsiwula commented on #19
Thanks for the reminder! Let me get something back here within 12 hours, if not some very detailed questions~ @holgerd77

[2018-06-26 11:46] tcsiwula commented on #19
I have to admit -- this is a very nice write up you gave 👍

[2018-06-26 21:34] tcsiwula commented on #19
Hacking into the night on it @holgerd77 , had a bunch of meetings this afternoon

[2018-06-27 01:39] tcsiwula commented on #19
I am falling asleep, this [PR](https://github.com/ethereumjs/ethereumjs-devp2p/pull/42) is a WIP. The rest should come tomorrow, pinky promise o_0

[2018-07-13 09:34] holgerd77 commented on #19
Hi @tcsiwula, don't want to be too pressing on this, I know we set the original time frame a bit tight, could you nevertheless give a rough estimate on your implementation plans on the issue? Any current questions or blockers?

If you think I have conceptionalized the bounty too large in scope, feel also free to express concerns in this direction. I am also not 100% sure on this, but I am confiden

[2018-07-25 09:04] ceresstation commented on #19
Hi @tcsiwula any updates here? Just want to make sure you don't get kicked off the issue. Thanks!

[2018-08-10 14:00] tcsiwula commented on #19
Hey hey @holgerd77 @ceresstation sorry about falling off the map on this. i was working of it for quite some bit. i was traveling for a few weeks and then had a cold. it was kinda hard to gauge the current completion %, also making it backwards compatible with devp2p v4 was kind of challenging. While it was very fun to get this far I am thinking it might have been way more time than 1eth, at least

[2018-08-10 15:05] ceresstation commented on #19
Hey @tcsiwula happy to add an additional tip if you're able to complete it promptly, @holgerd77 will have to answer regarding the `rlpx` files though.

[2018-08-13 11:10] holgerd77 commented on #19
Hi @tcsiwula, great to see that you are not completely lost without a trace!! 😄 😄

We are actually falling here completely into the ``ETH`` volatility trap, I think when I conceptionalized this bounty, ``ETH`` price was at somewhat around 1.200 $ (*sigh*), that's why I moved to ``DAI`` for the second bounty we set up on VM testing.

I would suggest that we also move to a ``DAI`` listing here (if s

[2018-08-15 18:27] jwasinger commented on #19
Hey @tcsiwula , if you want to pass the torch on this one, I'd be willing to take it up.  However, that would also mean removing bounty from this issue (I'm not eligible given my relationship with the Ethereum Foundation).

[2018-08-15 23:09] ceresstation commented on #19
Hey @tcsiwula any other updates here? Otherwise we may need to move this over to @jwasinger.

[2018-08-16 04:01] jwasinger commented on #19
Sounds good @tcsiwula .

[2018-08-17 09:36] holgerd77 commented on #19
Hi @tcsiwula, ok, we can follow on like this (though I have to admit I would be even more happy with a clear "I will do it or not" approach, but let's go on with this for now).

I think we also should be able to pay you some part of the bounty if it is not possible to finish all parts.

[2018-08-20 09:44] prateektiwari7 opened #43 "barbel Unknown plugin "transform-runtime""
Hi I am getting this plugin error

Alreadt tried this command

npm install babel-plugin-transform-class-properties --save

npm run build

ReferenceError: Unknown plugin "transform-runtime" specified in "/Users/Documents/ethereum-research/ethereumjs-devp2p/.babelrc" at 1, attempted to resolve relative to "/Users/Documents/ethereum-research/ethereumjs-devp2p"

[2018-08-21 13:12] vs77bb commented on #19
@holgerd77 Confirming on our end that this bounty is effectively 1,700 DAI at this point. @tcsiwula a rule of thumb we like to follow is to stay up-to-date on progress every few days, as that'll help everyone gauge current status as three weeks meanders by! Excited to see things progress. 🙂

[2018-08-21 17:54] tcsiwula commented on #19
Sounds great @holgerd @vs77bb . I was able to confirm the following over the weekend:

So this clarifies some things and helps define the bounds of expectations, at least in my mind. Removes some ambiguity about will it be able to communicate or not with other nodes (for testing/verification purposes).

Also @holgerd77 I can commit to I will do it =) -- I was just trying to be thoughtful in case t

[2018-08-22 19:03] holgerd77 commented on #19
@tcsiwula Cool! 😄 👍 That's also already valuable research work! Looking forward to the update!

[2018-08-26 05:01] tcsiwula commented on #19
# Issue update for node discovery v5
Completion status: **~46%**
Today's date:  **Saturday August 25th 2018**
Target finish date:  **Monday September 3rd 2018**
Task break down: ~46% = [6.5 / 14] = [ ((4 ✅ + (3🚧/2)) ) / (14✅🚧✖️)]
Issue: #19
Pull request: #42
cc: @holgerd77 @vs77bb @ceresstation

### Structural tasks
| Task name | Implemented | Task Description |
| ---------- | --------- | --------

[2018-08-28 05:26] tcsiwula commented on #19
No update for Monday. Sunday and Monday were Haskell networking. Will aim for getting half of the remaining sub tasks completed this week and update you all on Friday😃👋🏻🎉

[2018-08-31 11:49] holgerd77 commented on #19
Super-impressive summary, thanks Tim! 👍 😄

[2018-09-03 03:59] tcsiwula commented on #19
Thanks, will have a new update in about 12 hours or so. Taking some inspiration from [geths discv5 structure](https://github.com/ethereum/go-ethereum/blob/master/p2p/discv5/topic.go).

[2018-09-03 11:49] tcsiwula commented on #19
# Issue update for node discovery v5

## **** latest updates ****
I decided it would be easier to partition the version 5 logic and created a new directory `src/discv5` that mirrors `src/dpt`. Likewise for the examples, I made a separate directory and have a partial working communication example with the new packet types in `examples/discv5/simple.js`. Up next with be to complete `/discv5/node.js`

[2018-09-03 15:52] holgerd77 commented on #19
Sounds good.

[2018-09-10 18:38] tcsiwula commented on #19
Update coming tonight, hoping to have it finished today/tomorrow =)

[2018-09-11 17:50] tcsiwula commented on #19
Yesterday I gave a go at the [discv5-enr](https://github.com/fjl/p2p-drafts/blob/master/discv5-enr.md) per [Felix's suggestion](https://github.com/ethereumjs/ethereumjs-devp2p/pull/42#issuecomment-418909954). You can view it [here](https://github.com/ethereumjs/ethereumjs-devp2p/pull/42/commits/ea264540fdcd9d3661197b38df84de278f97003c). Upon further reflection this morning it looks like I didn't n

[2018-09-11 18:26] vs77bb commented on #19
Thanks again for the detailed updates here, @tcsiwula!

[2018-09-18 08:32] holgerd77 commented on #19
Hi @tcsiwula, just for information: I was somewhat unresponsive/unavailable in the last weeks due to family reasons, this is getting better now, if you need anything or are waiting for some answers let me know.

[2018-09-24 09:45] holgerd77 commented on #43
You probably haven't installed the [devDependencies](https://github.com/ethereumjs/ethereumjs-devp2p/blob/630adf262c0c671ad7c6cf17bb0d5b4a89b76415/package.json#L64) during installation process. Have a look at the link above, there is another plugin needed to be installed in this context.

[2018-09-24 09:45] #43 closed

[2018-09-24 09:47] holgerd77 commented on #40
Not sure any more how much this is needed or if the high-level output can also be managed from the client library itself.

[2018-09-24 09:51] holgerd77 commented on #18
Since this issue is a bit old this needs to be re-validated.

[2018-09-24 09:54] holgerd77 commented on #18
There are also some additional bootstrap nodes added in [this](https://github.com/ethereumjs/ethereumjs-devp2p/pull/42/files) PR, maybe this can be x-coordinated.

[2018-11-21 08:03] ceresstation commented on #19
Hey @tcsiwula what's the latest update here? Anything @holgerd77 or our team can to help?

[2018-11-21 09:36] holgerd77 commented on #19
Yes, I would be interested in that as well! 😄 🐨 I think you have very well done enough overall work for  having deserved the bounty. We nevertheless have to find some consistent cut so that we can include the work you have done into the library.

So one first-thought idea would be, that we include the structural parts, mark all this as ``Experimental`` and leave all the remaining testing work for

[2018-11-22 02:16] jwasinger commented on #19
If it sounds good to you @holgerd77 @tcsiwula , I would be interested in picking up the remainder of the work on this issue.

[2018-11-24 18:34] tcsiwula commented on #19
@ceresstation @holgerd77 yeah that sounds good to me, thank you. How should I mark them as ```Experimental```? I think I had one of the examples (/discv5/simple.js | 🚧 [Wip](https://github.com/ethereumjs/ethereumjs-devp2p/pull/42/commits/2147753bea1cf1c37f25499cd73b144ddf037a18#diff-137ee433734014114e44ee7755b96da5)|
| /discv5/peer-communication.js 			| 🚧 [Wip](https://github.com/ethereumjs/ethere

[2018-11-26 12:01] holgerd77 commented on #19
@tcsiwula I am also not completely sure yet and have to take some more time with a closer look. Let's come up with some clear cut concept until mid next week (Wednesday, 5th), and then do eventual last necessary changes and some clean up to get things finalized and closed before Christmas. Does this make sense and is realistic? I will also have an active look during the week and propose something,

[2018-11-27 21:19] jwasinger commented on #19
Sounds good @holgerd77 .  It may be several weeks before I get a chance to start tackling this (so anyone is welcome to pick it up in the meantime).  Thanks for the contribution @tcsiwula . the PR looks very substantial and we very much appreciate your help.

[2018-12-07 19:04] vpulim opened #44 "Uncaught "Connection timeout" promise rejection"
The DPT sometimes emits a `peer:new` event for a peer that isn't listening on a tcp port (only a udp port for discovery). This causes the following uncaught promise rejection when the RLPx server tries to connect to that peer on the missing tcp port.

[code]

These peers should be ignored or banned.

[2018-12-07 22:00] #44 closed

[2018-12-08 10:52] jwasinger commented on #19
So I realized that I actually don't have the bandwidth to take this on :/

[2018-12-08 14:50] holgerd77 commented on #19
@jwasinger Ok, thanks, feedback is really appreciated, better to realize early on then to always postpone or something! Thanks for the initial offer!

[2018-12-09 15:03] vpulim commented on #19
@holgerd77 The PR isn't ready for merging into master as-is. `src/discv5/node_record.js` has syntax errors that prevent `lib` from building and there are `console.log`s throughout the code that need to be removed. However, after commenting out the breaking code in `node_record.js` I was able to confirm the the discv4 code is still working (I was able to download blocks using the client). Without d

[2018-12-11 10:32] holgerd77 commented on #19
Ok, thanks @vpulim for the analysis, then let's do the following:

@tcsiwula I've send you a collaborator invite for the repository. Can you do some last basic cleanups mentioned in the comment above and then do a final re-pushing directly to the repository so that we have administrative control over this?

I would then say that we'll leave this as an open PR as a future working basis for now and

[2018-12-12 12:13] holgerd77 opened #47 "Remove src files from npm package"
The following is the output on npm packaging. The ``src`` files should be removed from the package on publication to reduce package size.

[code]

[2018-12-12 12:38] vpulim commented on #47
I think removing “src” from the “files” section of package.json should fix this right?

[2018-12-12 12:59] holgerd77 commented on #47
Yes (or is there a reason to leave the files there)?

[2018-12-12 22:34] vpulim commented on #47
Not that I know of. I just tested it by manually deleting the entire `src` folder from `ethereumjs-client/node_modules/ethereumjs-devp2p` and the client continues to work just fine.

[2018-12-13 09:11] holgerd77 commented on #47
Ah, that's a simple and straight-forward check, never occurred to me! 😛

[2018-12-13 14:06] holgerd77 commented on #19
reminder ping (see message above): @ceresstation @tcsiwula

[2018-12-18 12:15] ceresstation commented on #19
@tcsiwula is there anything I can do on my end to help get this across the finish line? It's been outstanding for quite a while.

[2018-12-18 15:49] holgerd77 commented on #19
Hi @tcsiwula, see the edited comment from @ceresstation above with a note on adjustment of the bounty value. Please let me know if it is possible to do the last adjustments on this I mentioned above until the end of the year, of if you have a significant reason why this is not possible (you can also PM me on Gitter). I would otherwise close/cancel this bounty.

[2018-12-20 23:31] tcsiwula commented on #19
Hello @holgerd77 @ceresstation sorry have been behind on my email. Let me process the above thread. So was the amount 1.000 DAI equal to $1000 or what was the USD value?

[2018-12-21 09:30] holgerd77 commented on #19
1 DAI = 1 US $, so yes.

[2018-12-21 10:02] holgerd77 commented on #19
Ok, just re-read the thread, seems that we have two a bit conflicting statements here with @ceresstation proposing a 2 ETH adjustment and me some conversion to 1.000 DAI.

I would find the 1.000 DAI version a bit more appropriate TBH, since we would leave this task in a very open state with the suggestion I made above, this has exceeded the originally planned time by some order of magnitude and la

[2018-12-23 16:56] ceresstation commented on #19
Hey @holgerd77 sorry we're on the same page, I was just saying I'd be willing to pay a bounty amount equal to the amount 2 ETH was worth when the bounty began *in DAI*. In other words I can confirm that we'd be able to pay $1,425 DAI. @tcsiwula please confirm that this is good on your end :)

[2018-12-27 02:55] tcsiwula commented on #19
Okay sounds good to me @holgerd77 @ceresstation will get it done by Sunday for review!

[2018-12-31 05:22] tcsiwula commented on #19
working on right now, a bit late but expect soon.

[2018-12-31 08:41] holgerd77 commented on #19
That's ok.

[2018-12-31 19:40] tcsiwula commented on #19
Just wrapping up. Created a new PR & branch #48  [summary here](https://github.com/ethereumjs/ethereumjs-devp2p/pull/48) compiles and runs now successfully should be okay to close out the issue. Let me know if you need me to submit or close the bounty manually @holgerd77 @ceresstation

Further work still needs to be done with regards to the Node Record Specification and testing. I can try to work

[2019-01-03 23:11] holgerd77 commented on #19
We can very well see this as accomplished, Tim @tcsiwula thanks for doing all the work on this, we've learned to do more fine-grained Gitcoin issues in the future. Hope it was not too overwhelming, would be great if you can continue with some work in the time to come. 😄 👍

@ceresstation Can you initiate the bounty payout (the last comment I made on the PR shouldn't be a blocker, this is just some

[2019-01-07 17:31] ceresstation commented on #19
@tcsiwula thanks for getting that done, @holgerd77 initiating the payout now!

[2019-01-07 19:09] vs77bb commented on #19
@tcsiwula Please confirm you've received the payment! I remember when this task began - glad to see it across the finish line. Thanks for your patient and thoughtful reviews along the way, @holgerd77 🙂

[2019-01-21 22:19] kuhnchris commented on #19
Hi there @tcsiwula , would you mind finishing this on the gitcoin side aswell, so we can finish this bounty? Thank you!

Chris

[2019-01-30 15:56] tcsiwula commented on #19
Pretty sure got the payout, will confirm when I get access to my desktop next. Also will close out on gitcoin side soon!

[2019-01-30 15:56] #19 closed

[2019-03-06 12:40] holgerd77 opened #49 "Replace unmaintained rlp-encoding with rlp library"
This library uses an unmaintained RLP library ``rlp-encoding`` from Kirill: https://github.com/fanatid/rlp-encoding

This is some security risk to rely on unattended and not maintained libraries and it is generally not optimal.

There should be a switch to the EthereumJS-maintained RLP library:
https://github.com/ethereumjs/rlp

[2019-03-12 09:30] #47 closed

[2019-06-22 08:02] holgerd77 opened #52 "Finishing up TypeScript transition work"
TODO List and discussion for finishing up on the TypeScript transition PR at https://github.com/ethereumjs/ethereumjs-devp2p/pull/51.

- [x] Updated TypeScript config on `ethereumjs-config` and/or in the repo
- [x] Test run on supported Node versions 8, 10, 11 (12 optional)
- [x] Integration test on [ethereumjs-client](https://github.com/ethereumjs/ethereumjs-client) repository, basic benchmarking

[2019-07-09 13:54] Daniel600 opened #53 "Issue with receiving TX messages"
We are using https://github.com/ethereumjs/ethereumjs-devp2p/blob/master/examples/peer-communication.js however when we sort for TX messages and compare to our Parity node - we seem to only get 50% of the TX which our parity node receives

[2019-07-09 13:56] Daniel600 commented on #53
Update commented out this line https://github.com/ethereumjs/ethereumjs-devp2p/blob/master/examples/peer-communication.js#L283 and there is great improvement almost at 100%

[2019-09-20 15:58] raullaprida commented on #53
I'm not seeing any kind of activity in this repo, unfortunately.

[2019-09-23 20:10] holgerd77 commented on #53
We currently don't have the team resources to put an emphasis on this library, however the library is not completely abandoned.

These type of issues @Daniel600 described are extremely hard to debug and it takes a lot of time to get down to the original causes. If you dig here further it would be appreciated and we will definitely review and merge your patches.

Also appreciated: if anyone could s

[2020-03-08 01:40] todofixthis opened #55 "Add eth64 support"
From [Ethereum Wire Protocol documentation](https://github.com/ethereum/devp2p/blob/master/caps/eth.md#eth64-eip-2364-november-2019):

to determine mutual compatibility of chain execution rules without synchronizing the
blockchain.

Supporting eth64 would remove the need to fork-verify new peers and reduce the complexity of application code.

[2020-04-16 20:45] holgerd77 opened #59 "Example not working with updated bootnodes"
Just injected the new bootnodes from https://github.com/ethereumjs/ethereumjs-vm/pull/718 manually to the current `master` version of the library.

The [peer-communication.ts](https://github.com/ethereumjs/ethereumjs-devp2p/blob/master/src/examples/peer-communication.ts) example is still not working, would want to wait with merging the bootnode update until we find the root cause here.

Running th

[2020-04-17 12:33] PhilippLgh commented on #59
tried it myself by pasting the bootnodes directly likes this:
(please note hardcoded chanid)
[code]

 and I get a lot of output:
[code]
my guess is that the chainId is either missing or bad in your tests.

[2020-04-17 12:39] PhilippLgh commented on #59
will try to link the common module and do more manual testing and review today

[2020-04-17 13:04] PhilippLgh commented on #59
ok just confirmed that this line https://github.com/ethereumjs/ethereumjs-devp2p/blob/master/src/examples/peer-communication.ts#L20
is causing the example to fail as the `chainId`is not appened to the json and not specified there either.
checked the old config and `ropsten.json` was the only file that did specify a chainId.
so we either:
1. remove the filter from example
2. write chainId in all .j

[2020-04-17 15:15] holgerd77 commented on #59
Thanks for the analysis. 👍 The filter actually makes no sense since the `Common` instance only returns the bootnodes for the network set anyhow when calling `config.bootstrapNodes()`.

So we can safely go for 1. and just remove the filter here without loosing anything. Can you prepare a PR here?

Can confirm that this works now (like a charm). 😄

[2020-04-17 16:54] PhilippLgh commented on #59
removed the filter here:
https://github.com/ethereumjs/ethereumjs-devp2p/pull/60

[2020-04-20 15:47] holgerd77 opened #61 "Installation breaks on Node v12+"
Installation on the library breaks using Node 12 (v12.15.0) or 13 (v13.13.0) (Mac OS Mojave 10.14.1), following output:

[code]

@PhilippLgh Is this something you can reproduce on your machine locally and if so can you please have a look at it before we release?

[2020-04-21 10:13] PhilippLgh commented on #61
was running the examples with v12.10 and it was working fine.. Can play with it a little bit but ideally the CI would test this

[2020-04-21 10:17] PhilippLgh commented on #61
It actually looks like GH Actions can successfully build on 12.x and 13.x https://github.com/ethereumjs/ethereumjs-devp2p/runs/596033309?check_suite_focus=true

[2020-04-21 19:51] holgerd77 commented on #61
Ah, got it, was this damn local `package-lock.json` file. Stumbling over this again and again (without too much learning it seems).

Can be closed here. 😄

[2020-04-21 19:51] #61 closed

[2020-04-24 15:05] holgerd77 opened #63 "v3.0.0 Release Planning"
The `v3.0.0` release for this library is imminent, introducing a `TypeScript` based version of the library and building upon the work from @dryajov done in https://github.com/ethereumjs/ethereumjs-devp2p/pull/56.

It is encouraged to test the current `master` branch of the library (this needs the bootnode update from the TODOs to work). If you have got comments on the release please drop here.

TO

[2020-05-07 09:13] holgerd77 commented on #63
Hi @PhilippLgh, the `common` library [v1.5.1](https://github.com/ethereumjs/ethereumjs-vm/releases/tag/%40ethereumjs%2Fcommon%401.5.1) has now been released, can we continue with the release here? Can you also have a look into the other tow TODOs I added here? Thanks!

[2020-05-11 13:11] PhilippLgh commented on #63
keccak update:
https://github.com/ethereumjs/ethereumjs-devp2p/pull/64

[2020-05-11 13:27] PhilippLgh commented on #63
@holgerd77  regarding the secp256k1 update:
question is if it would make sense to bring in and use `ethereumjs-util` instead of directly working on `secp256k1`

[2020-05-11 13:58] holgerd77 commented on #63
Hmm, same question would go fork `keccak` as well and also for the `RLP` library. My tendency for now is to say that it's not worth it for the moment and rather lengthen things due to this a bit uncertain situation around the Util v7 release, see https://github.com/ethereumjs/ethereumjs-util/issues/250 (BN.js is not used here, nevertheless this might affect the validity of the Util v7 release itse

[2020-05-11 14:13] holgerd77 commented on #63
Just had a look at the "run npm install" tab of the Node 10 (just as an example) [CI run](https://github.com/ethereumjs/ethereumjs-devp2p/pull/64/checks?check_run_id=663353610) for the `keccak` update PR.

The still executed `keccak` `v1.4.0` install brought me to the fact that there is actually an `ethereumjs-util` instance drawn in by the `ethereumjs-tx` dependency. This should actually not bein

[2020-05-11 15:26] PhilippLgh commented on #63
the reasoning behind moving `examples` into `src` is because they are source files (cannot be executed by nodejs).
if it is OK to always run them with `ts-node` we can move them one layer up. However, there might be differences in the execution environment which could effect e.g. the performance and reduce their usefulness for testing.

[2020-05-11 15:36] holgerd77 commented on #63
@PhilippLgh No, I think always run with `ts-node` is very much ok.

[2020-05-11 16:53] PhilippLgh commented on #63
@holgerd77 made the suggested changes:
- remove examples: https://github.com/ethereumjs/ethereumjs-devp2p/pull/66
- update ethereumjs-common https://github.com/ethereumjs/ethereumjs-devp2p/pull/67
- move tx to devDependencies: https://github.com/ethereumjs/ethereumjs-devp2p/pull/65

[2020-05-11 20:10] holgerd77 commented on #59
Closed by #67

[2020-05-11 20:10] #59 closed

[2020-05-12 10:15] evertonfraga commented on #63
Regarding the `examples` code, one good practice is to have a specific package.json for modules that only that example needs.

The packages common to both, though, can be omitted from the `examples/package.json`, due to how recursive module resolution work in node. (1. `node_modules/xxx`, 2. `../node_modules/xxx`, 3. `../../node_modules/xxx`)

[2020-05-25 07:54] holgerd77 commented on #18
Issue outdated, will close, feel free to reopen if there are still issues with LES node connections.

[2020-05-25 07:54] #18 closed

[2020-05-25 07:55] holgerd77 commented on #52
Closed by #51 and subsequent work from @PhilippLgh

[2020-05-25 07:55] #52 closed

[2020-05-25 08:02] holgerd77 commented on #37
This can be also taken in the context of an eventual discussion on auto-generation of docs on this library. I can remember that I once had a look into this and came to the conclusion that this is at least more challenging and would need additional evaluation if useful/practical together with some substantial thinking on some concept here due to the event based nature of the library and some - like

[2020-05-25 08:07] holgerd77 commented on #41
Will close this for now since this has for the moment sufficiently been solved by https://github.com/ethereumjs/common/pull/14 - see also this issue https://github.com/ethereumjs/ethereumjs-client/issues/28 on the client side. There might nevertheless be the need arising again to solve this more properly by better propagating the underlying root error to be handled more properly on the consuming s

[2020-05-25 08:07] #41 closed

[2020-05-25 08:09] holgerd77 commented on #40
Issue has been addressed to a greater part on the client side for high-level output https://github.com/ethereumjs/ethereumjs-client/issues/3, it is also possible to directly [use](https://github.com/ethereumjs/ethereumjs-client#client-setup) the logging capabilities from this library within the client library context.

Will close.

[2020-05-25 08:09] #40 closed

[2020-05-25 08:17] holgerd77 commented on #55
Yes, this would be very beneficial to have, have added some labelling including a "very important" priority categorization. Communication noise respectively the level of communication with not useful clients on the library/protocol is still pretty substantial, and this would already help significantly.

[2020-05-25 08:33] holgerd77 opened #70 "Update check block in example to latest fork"
The check block in the [peer-communication.ts](https://github.com/ethereumjs/ethereumjs-devp2p/blob/master/examples/peer-communication.ts) example should be updated to the latest fork.

The following PR can be used for guidance https://github.com/ethereumjs/ethereumjs-devp2p/pull/54 (this is missing the header RLP though).

[2020-06-03 06:39] holgerd77 opened #74 "Support for RLPx version 5"
Have no deep insight on this yet, just dropping here so that it gots not forgotten.

There seems to be a newer version 5 of the `RLPx` protocol we are currently on version 4 (see [BASE_PROTOCOL_VERSION](https://github.com/ethereumjs/ethereumjs-devp2p/blob/master/src/rlpx/peer.ts#L15) setting.

Connections do still work, there needs to be an update nevertheless at some point I guess, also not reall

[2020-06-04 07:00] holgerd77 commented on #55
Some more context: [EIP-2124](https://eips.ethereum.org/EIPS/eip-2124) is a general description on the fork identifier, on top [EIP-2364](https://eips.ethereum.org/EIPS/eip-2364) describes an extended protocol handshake for `eth/64`.

[2020-06-04 10:01] holgerd77 commented on #55
I am currently trying to recreate the `forkhash` values from the [EIP](https://eips.ethereum.org/EIPS/eip-2124) (see "Specification").

I have managed to get `forkhash0` but having a hard time to get any further (`forkhash1`), this is what I've got so far:

[code]

Any recommendations on this respectively hints on what I am doing wrong (respectively also what could eventually be done easier?). Sti

[2020-06-04 11:21] s1na commented on #55
I'd just hardcode a 64bit version of the block number in the more naive approach like this:

[code]

[2020-06-04 14:46] holgerd77 commented on #55
Ok, here is a first suggestion for an implementation which tries to balance between the requirements and constraints from the specification and the structure of our current library setup together with the intended scope of the libraries.

Feedback very welcome!

## ethereumjs-common

The [common](https://github.com/ethereumjs/ethereumjs-vm/tree/master/packages/common) library gets two new public A

[2020-06-05 16:14] evertonfraga commented on #55
Super interesting content!

[2020-09-11 21:13] gorgos commented on #12
@holgerd77 I'm seeing the exact same issue still as shown in https://github.com/ethereumjs/ethereumjs-devp2p/issues/12#issuecomment-398211899.

[2020-09-14 20:51] gorgos opened #85 "Subprotocol error: network mismatch"
Sometimes I get connections, but most of the times I'm seeing the network mismatch error messages. It pretty much looks like here: https://github.com/ethereumjs/ethereumjs-devp2p/issues/12#issuecomment-398211899.

I'm opening a new issue as the other one is closed and two years old.

[2020-09-23 19:56] evertonfraga opened #86 "Prepare for migration to the VM Monorepo"
Those are some of the requirements to move this lib to the VM monorepo:
- [x] Migrate to TypeScript (rename `lib` to `src` in the process)
- [x] Update @ethereumjs/config to `v2.0.0`, see #91
- [x] Remove coveralls configuration, replacing by Codecov
- [x] Remove github workflows, replacing by the ones in the monorepo format
- [x] Remove Babel configuration (to be replaced by Typescript build)
- [

[2020-09-25 09:28] holgerd77 opened #87 "esModuleInterop issue on client integration"
Have now locally linked the `devp2p` library to the client library to fix the issues from https://github.com/ethereumjs/ethereumjs-client/issues/143

I will now fix the issues like

[code]

by switching to `import =` syntax as suggested [here](https://github.com/microsoft/TypeScript/issues/27293#issuecomment-549047461) and push later the day.

Let me know if this fix is not adequate, solution is d

[2020-09-25 09:41] holgerd77 commented on #87
Have re-checked: this problem can not be fixed by updating the `TypeScript` version to `v3.9.7`.

[2020-09-25 17:43] #87 closed

[2020-10-20 10:13] holgerd77 commented on #63
Closed by #71

[2020-10-20 10:13] #63 closed

[2020-10-20 10:17] holgerd77 opened #91 "Update to @ethereumjs/config v2.0.0"
Preparation for #86

This library needs to be updated to linting, typescript config and coverage setup using the [v2.0.0](https://github.com/ethereumjs/ethereumjs-config/releases) from the `@ethereumjs/config` packages.

The respective VM/monorepo PR https://github.com/ethereumjs/ethereumjs-vm/pull/913 can serve as some reference PR here.

[2020-11-03 10:13] #49 closed

[2020-11-24 18:31] #55 closed

[2020-11-25 18:01] ryanio commented on #91
Completed in #93

[2020-11-25 18:01] #91 closed

[2020-11-25 18:04] ryanio commented on #37
This repository is now using typedoc for auto-generated [docs](https://github.com/ethereumjs/ethereumjs-devp2p/tree/master/docs) 👍

[2020-11-25 18:04] #37 closed

[2020-12-04 09:48] holgerd77 commented on #86
Closed by https://github.com/ethereumjs/ethereumjs-vm/pull/971

[2020-12-04 09:48] #86 closed

[2020-12-04 09:55] holgerd77 commented on #85
Not a bug but just imminent behavior due to the protocol versions currently supported (this will e.g. improve on better/updated discovery protocol versions), will close.

[2020-12-04 09:55] #85 closed